{% extends "base.html" %}
{% block title %} Contato {% endblock %}
{% block content %}

        <div id="texto">
            <h2>Entre em contato</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet mollis nisl.
            </p>
            <hr>

            <form>
                <label>Seu email:</label><br>
                <input type="text"><br>
                <label>Assunto:</label><br>
                <input type="text"><br>
                <label>Descrição:</label><br>
                <textarea></textarea><br>
                <input type="submit"value="Enviar">


            </form>
            {% endblock %}